# 문자열 메소드 활용하기 (-> 수정 불가능)

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [ ]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.capitalize()   #a를 capitalize 해줘!
a.title()
a.upper()
print(a)     #★결과를 반환함★, return과 print의 차이!

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [ ]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.lower()
a.swapcase()
print(a)

### `.join(iterable)` <- 자주 사용!

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

In [1]:
# 아래에 코드를 작성하세요.
'!'.join('배고파')
'-'.join(['1','2','3','4','5'])

'1-2-3-4-5'

### `.replace(old, new[, count])`(=Ctrl + F)

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.
word = 'yay!'
word.replace('a','_')

word2 = 'woooow'
print(word2.replace('o','a',3))

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'            hello'.strip()
'    hello'.lstrip()
'hihihihihihihi123hihihihihi'.rstrip('hi')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [2]:
# 아래에 코드를 작성하세요.
'apple'.find('z')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [3]:
# 아래에 코드를 작성하세요.
'apple'.index('p')

1

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [4]:
# 아래에 코드를 작성하세요.
'apple!grape!peach'.split('!')

['apple', 'grape', 'peach']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
dir('asdf')

# 리스트 메소드 활용하기 ★자주 사용★

## 값 추가 및 삭제 (원본 조작)

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [5]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

NameError: name 'caffe' is not defined

In [ ]:
# 값을 추가해봅시다.
cafe.append('cafebene')
print(cafe)

In [ ]:
# 어렵게 넣어보도록 해봅시다.
cafe[len(cafe):] = ['ediya']
print(cafe)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*
유의*) 값을 붙일 수가 있습니다. 
리스트와 리스트를 합쳐서 확장시키는 것!
* append와 extend의 차이
: append는 자체 한 개만 뒤에 추가 extend는 복수 갯수 추가 가능

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.
cafe.extend(['droptop','coffeebean'])
print(cafe)

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.
cafe += ['baek dabang', 'the venti']
print(cafe)

In [ ]:
# append와 비교해봅시다.
cafe.append(['angel in us'])
print(cafe)
cafe.extend('tiger sugar')
print(cafe)

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
cafe.insert(0,'hi')
print(cafe)

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
cafe.insert(len(cafe),'bye')
print(cafe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
cafe.insert(999,'hihi')
print(cafe)

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

In [ ]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

In [ ]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [6]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [7]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
print(numbers.pop(0))
print(numbers)

1
[2, 3, 4, 5, 6]

In [8]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(numbers)
value = numbers.pop(4)
print(f'{value}가 빠져나온 결과는 {numbers}입니다.')

[2, 3, 4, 5, 6]
6가 빠져나온 결과는 [2, 3, 4, 5]입니다.

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(1)

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
numbers.index(0)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
num = 5
for number in range(numbers.count(num)):
    numbers.remove(num)
print(numbers)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.
num in numbers

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다. (sort =/= sorted)

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [ ]:
# sort를 사용해봅시다.
print(lotto.sort(reverse=True))
print(lotto)

### `reverse()`

단순히 반대로 뒤집습니다. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin', 'sunny']
print(classroom)
classroom.reverse()
print(classroom)

## 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copy_list = original_list
print(original_list)
print(copy_list)

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 123
print(original_list)
print(copy_list)

In [ ]:
# id 값을 확안해봅시다.
print(id(original_list))
print(id(copy_list))

In [ ]:
# 숫자를 확인해봅시다.
a = 123456
b = a
b = 654321
print(a)

In [ ]:
# 딕셔너리도 확인해봅시다.
lunch = {'차이나': '고추참치덮밥', '스냅스낵': '라면'}
dinner = lunch
dinner['차이나'] = '쫄면'
print(lunch)

### copy  -> pythontutor 자주 활ㄹ용!!!
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [9]:
# 리스트를 복사해봅시다.
a = [1,2,3]
b = a[:]
b[0] = 123
print(a)

[1, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.
a = [1,2,3]
b = list(a)
b[0]=123
print(a)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.
a = [1,2,[9,10]]
b = list(a)
b[2][0]=9999
print(a)

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1,2,[9,10]]
b = copy.deepcopy(a)
b[2][0] = 9999
print(a)

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.
cafe.clear()
print(cafe)

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
numbers = range(1, 11)

In [ ]:
# 기존의방법
cubic_list = []
for num in numbers:
    cubic_list.append(num**3)
print(cubic_list)

In [ ]:
# List Comprehension
cubic_list = [num**3 for num in numbers]
print(cubic_list)

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [ ]:
# 기존의방법
even_list = []
for num in numbers:
    if not num % 2:
        even_list.append(num)
        

print(even_list)

In [ ]:
# List Comprehension
even_list = [num for num in numbers if not num % 2]
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.
pair = []
for girl in girls:
    for boy in boys:
        pair.append((girl, boy))
print(pair)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
pair_list = [(girl, boy) for girl in girls for boy in boys]
print(pair)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.
numbers = range(1,50)

In [ ]:
result = []
for x in range(1,50):
    for y in range(x,50):
        for z in range(y,50):
            if x**2 + y**2 == z**2:
                result.append((x,y,z))
print(result)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
# pita = [((x**2) + (y**2) == (z**2)) for x in numbers for y in numbers for z in numbers]
# print(pita)

result = [(x,y,z) for x in range(1,50) for y in range(x,50) for z in range(y,50) if x**2 + y**2 == z**2]
print(result)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
col = ['a','e','i','o','u']
result = ''
for i in words:
    if i not in col:

        result += i
    else:
        pass


print(result)



# words = [(a,e,i,o,u) for a in col:
#          for e in col:
#              for o in col:
#                  for i in col:
#                      for u in col]
# for i in words:
#     if i in col

In [ ]:
words = 'Life is too short, you need python!'
vowels = 'a','e','i','o','u'

result = [word for word in words if word not in vowels]
print('',(result))

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [ ]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
my_dict.pop('apple')
print(my_dict)

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon',0)

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다

### `.update()`   -> 수정할 때 ㅇㅣ용

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple='사과아')
print(my_dict)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [ ]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
# my_dict['pineapple']
print(my_dict.get('pineapple','없어'))

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [ ]:
# dictionary comprehension
cubic = {i:i**3 for i in range(1,11)}
print(cubic)

### dictionary comprehension 사용해보기

In [ ]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

result = {key: value for key, value in dusts.items() if value > 80}
print(result)

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}
for i in dusts
    if 'i'>80,'보통'
    
    in(dusts.get(''>80,'보통'))

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
result = {key: ('나쁨' if value > 80 else '보통') for key, value in dusts.items()}
print(result)

In [ ]:
# elif 도 사용할 수 있습니다. -> 알기만 해 가독성 떨어짐
result = {key: ('매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통') for key, value in dusts.items()}
print(result)

# 세트 메소드 활용 -> 순서가 상관없는 데이터 타입, 중복없음

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('포도')
print(fruits)

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.
* iterable 의 의미는 member를 하나씩 차례로 반환 가능한 object를 말한다. iterable 의 예로는 sequence type인 list, str, tuple 이 대표적.

In [ ]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update({'토마토','토마토','딸기'})
fruits.update('레몬')
print(fruits)

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('사과')
fruits.remove('복숭아')
print(fruits)

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.discard('메론')

### `pop()`

임의의 원소를 제거해 반환합니다.

In [1]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}
a.pop()
print(a)

{'바나나', '아보카도', '수박'}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [ ]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [ ]:
# list comprehension

In [ ]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [ ]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [ ]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [ ]:
def even(n):
    return not n%2

In [ ]:
# 다음의 list comprehension과 동일하다.